

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FAF3F0;
    border-radius: 0%;
  }
  
nav {
    background-color: #FAF3F0;
    border-radius: 0%;
}

  li {
    float: right;
  }
  
  li a {
    display: block;
    color: #565656;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    color: #FFCACC;
  }

  li a {
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
  }

  img{
    text-align: center;
    float: left;    
  }

  .insta{
    text-align: center;
    float: left;
    padding: 20px 100px;

  }


  h1 {
    float: left;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium Cond', 'Arial Narrow', Arial, sans-serif;
    color: #565656; 
    display: block;
    text-decoration: none;
    text-align: center;
  }
  h1:hover{
    color: #FFCACC;
  }
  a{
    text-decoration: none;
  }
  a:link{
    color: #565656;
    text-decoration: none;
  }
  a:visited{
    color: #565656;
    text-decoration: none;
  }
  a:active{
    color: #565656;
  }
  a:hover{
    color: #FFCACC;
  }
  
  .homebtn{
    text-decoration: none;    
  }
  .homebtn:link{
    color: black;
    text-decoration: none;
  }
  .homebtn:visited{
    color: black;
    text-decoration: none;
  }
  .homebtn:active{
    color: black;
  }
  .homebtn:hover{
    color: black;
  }



  .a2{
    text-decoration: none;
  }
  .a2:link{
    color: black;
    text-decoration: none;
  }
  .a2:visited{
    color: #565656;
    text-decoration: none;
  }
  .a2:hover{
    color: #565656;
  }

  h2 {
    float: initial;
    font-family: 'Cassandra Personal Use Regular';
    font-size: 17px;
    text-align: center;
    margin-top: 4px;
    height: 25px;   
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h3{
    font-family: 'Bodoni MT Condesed Italic';
    font-size: 20px;
    display: inline-block;
    padding: 0px 52px;
    margin: 0px 10px;
    position: relative;
  }

  .center{
    text-align:center;
   display:flex;
   flex-direction:line;
   align-items:center;
   overflow:hidden;
  }

  .card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    margin: 10px 25px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    cursor: pointer;
  }
  .card:hover{
      transform: translateY(-0.5%);
      box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
  }

  .card1{
    background-image: url(quadros-site2.png);

  }
  
  .card2{
    background-image: url(tshirtsmarc-site3.png);
  }

  .card3{
    background-image: url(personalizados-site4.png);
  }

  .card:hover{
    transform: translateY(-10px);
  }

  .classic {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
  
  h4 {
    font-family: 'Franklin Gothic Medium Cond' 'Ariel Narrow', Arial, sans-serif;
    font-size: 27pt;
    align-items: center;
    justify-content: center;
    float: right;
    position: absolute;
    top: -5%;
    left: 75%;
    transform: translate(-50%, -50%);
  }
  h5 {
    font-family: 'Franklin Gothic Medium Cond', 'Arial Narrow', Arial, sans-serif;
    font-size: 15pt;
    align-items: center;
    justify-content: center;
    width: 75%;
    text-align: left;
    justify-content: center;
    margin: 0 auto;
    padding: 45px;
    line-height: 30px;
  }

  .textoinfo{
    background-color: #DBC4F0;
    width: 70%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    top: 100px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
  }

  .imgjr{
    width: 140px;
    height: 150px;
    border-radius: 50%;
    border-color: #FFCACC;
    border-style: solid;
    border-width: 5px;
    position: absolute;
    top: -20%;
    left: 93%;
  }
  
 footer{
  background-color:#FAF3F0;
  color: black;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
 
  width: auto;
  clear: both;
    position: relative;
    height: 200px;
    margin-top: 850px;
 }
 .rodape{
  list-style: none;
	padding: 0;
	margin: 0;
  display: inline-block;
	margin: 0 10px;
  color: #565656;
	text-decoration: none;
 }

 .logo{
  position: absolute;
  left: 0%;
  top: 60%;
 }

 .inst{
  position: absolute;
  left: 18%;
  top: 70%;
 }

 .inst2{
  position: absolute;
  left: 20%;
  top: 71%;
 }

 .quadrosrdp{
  position: absolute;
  left: 41%;
  top: 71%;
 }

 .lojardp{
  position: absolute;
  left: 48%;
  top: 71%;
 }

 .personalizadosrdp{
  position: absolute;
  left: 53%;
  top: 71%;
 }

 .contactrdp{
  position: absolute;
  left: 90%;
  top: 72%;
 }
 h6{
  font-family: 'Bodoni MT condesed italic' ;
  font-size: 30pt;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-image: linear-gradient(#FFCACC, #FFCACC);
  background-size: 100% 7px;
  background-repeat: no-repeat;
  background-position: 0% 85%;
 }

 h7{
  font-family: 'Bodoni MT';
  font-size: 21pt;
  position: absolute;
  left: 10%;
  top: 20%;
 }

.cardquadros{ /*1ª fila com 4 quadros*/
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 10px 0px;
  box-sizing: border-box;
  margin: 10px 25px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  transition: 0.2s;
  margin-top: 150px;
  margin-left: 9%;
  margin-right: 0%;

  
}
.cardquadros:hover{
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}
.cardquadros2:hover{
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}
.cardquadros3:hover{
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}
.cardquadros4:hover{
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}
.cardq1{
  background-image: url(quadros-2023/358152205_24418668837731915_3342244397771312669_n.png);
  
}
.cardq2{
  background-image: url(quadros-2023/quadro2-2023.png);
  
}

.cardq3{
  background-image: url(quadros-2023/quadro3-2023.png);
  
}

.cardq4{
  background-image: url(quadros-2023/quadro4-2023.png);
  
}
.cardquadros2{ /*2ª fila com 3 quadros*/
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 10px 0px;
  box-sizing: border-box;
  margin: 10px 25px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  transition: 0.2s;
  margin-top: 45px;
  margin-left: 15%;
  margin-right: 0%; 
}
.cardlongo{
  margin-top: 45px;
  margin-left: -10%;
  margin-right: 0%; 
}

.cardquadros4{ /* 2ª fila com 2 quadros*/
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 10px 0px;
  box-sizing: border-box;
  margin: 10px 25px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  transition: 0.2s;
 
  margin-top: 45px;
  margin-left: 24%;
  margin-right: 0%;
}

.cardquadros3{ /* 2ª fila com 4 quadros*/
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 10px 0px;
  box-sizing: border-box;
  margin: 10px 25px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  transition: 0.2s;
 
  margin-top: 45px;
  margin-left: 9%;
  margin-right: 0%;

}

  

.cardq5{
  background-image: url(quadros-2023/quadro5-2023.png);
}
.cardq6{
  background-image: url(quadros-2023/quadro6-2023.png);
}
.cardq7{
  background-image: url(quadros-2023/quadro7-2023.png);
}

h8{
  font-family: 'Bodoni MT';
  font-size: 21pt;
  position: absolute;
  left: 10%;
  top: 112%;
}

.cardq1-22{
  background-image: url(quadros-2022/quadro1-2022.png);
}
.cardq2-22{
  background-image: url(quadros-2022/quadro1.5-2022.png);
}
.cardq3-22{
  background-image: url(quadros-2022/quadro1.5.5-2022.png);
}
.cardq4-22{
  background-image: url(quadros-2022/quadro2-2022.png);
}
.cardq5-22{
  background-image: url(quadros-2022/quadro3-2022.png);
  border-radius: 50%;
  width: 200px;
  height: 200px;  
}
.cardq6-22{
  background-image: url(quadros-2022/quadro4-2022.png);
}
.cardq7-22{
  background-image: url(quadros-2022/quadro5-2022.png);
}

.cardq8-22{
  background-image: url(quadros-2022/quadro6-2022.png);
}
.cardq9-22{
  background-image: url(quadros-2022/quadro7-2022.png);
}

h9{
  font-family: 'Bodoni MT';
  font-size: 21pt;
  position: absolute;
  left: 10%;
  top: 243%;
}
.cardq1-21{
  background-image: url(quadros-2021/quadro1-2021.png);
}
.cardq2-21{
  background-image: url(quadros-2021/quadro2-2021.png);
}
.cardq3-21{
  background-image: url(quadros-2021/quadro3-2021.png);
}
.cardq4-21{
  background-image: url(quadros-2021/quadro4-2021.png);
}
.cardq5-21{
  background-image: url(quadros-2021/quadro5-2021.png);
}
.cardq6-21{
  background-image: url(quadros-2021/quadro6-2021.png);
}

h10{
  font-family: 'Bodoni MT';
  font-size: 21pt;
  position: absolute;
  left: 10%;
  top: 335%;
}
.cardq1-20{
  background-image: url(quadros-2020/quadro1-2020.png);
}
.cardq2-20{
  background-image: url(quadros-2020/quadro2-2020.png);
}
.cardq3-20{
  background-image: url(quadros-2020/quadro3-2020.png);
}
.cardq4-20{
  background-image: url(quadros-2020/quadro4-2020.png);
}
.cardq5-20{
  background-image: url(quadros-2020/quadro5-2020.png);
}
.cardq6-20{
  background-image: url(quadros-2020/quadro6-2020.png);
}
.cardq7-20{
  background-image: url(quadros-2020/quadro7-2020.png);
}
.cardq8-20{
  background-image: url(quadros-2020/quadro8-2020.png);
}
.cardq9-20{
  background-image: url(quadros-2020/quadro9-2020.png);
}

.cardq10-20{
  background-image: url(quadros-2020/quadro10-2020.png);
}
.cardq11-20{
  background-image: url(quadros-2020/quadro11-2020.png);
  border-radius: 50%;
}
.cardq12-20{
  background-image: url(quadros-2020/quadro12-2020.png);
}
.cardq13-20{
  background-image: url(quadros-2020/quadro13-2020.png);
  width: 350px;
}
.cardq14-20{
  background-image: url(quadros-2020/quadro14-2020.png);
}
.cardq15-20{
  background-image: url(quadros-2020/quadro15-2020.png);
}

.container{
 
  width: 250px;
  height: 250px;
  display: inline-block;
  border-radius: 10px;
  padding: 10px 0px;
  box-sizing: border-box;
  margin: 10px 25px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 120px;
  margin-left: 12%;
  margin-right: 0%;
  margin-bottom: 0%;
}
.container2{
 
  width: 250px;
  height: 250px;
  display: inline-block;
  border-radius: 10px;
  padding: 10px 0px;
  box-sizing: border-box;
  margin: 10px 25px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 120px;
  margin-left: 10%;
  margin-right: 0%;
  margin-bottom: 0%;
}
.container3{
 
  width: 250px;
  height: 250px;
  display: inline-block;
  border-radius: 10px;
  padding: 10px 0px;
  box-sizing: border-box;
  margin: 10px 25px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 120px;
  margin-left: 10%;
  margin-right: 0%;
  margin-bottom: 0%;
}
.container4{
 
  width: 250px;
  height: 250px;
  display: inline-block;
  border-radius: 10px;
  padding: 10px 0px;
  box-sizing: border-box;
  margin: 10px 25px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 0%;
  margin-left: 23%;
  margin-right: 0%
}
.container5{
 
  width: 250px;
  height: 250px;
  display: inline-block;
  border-radius: 10px;
  padding: 10px 0px;
  box-sizing: border-box;
  margin: 10px 25px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 0px;
  margin-left: 10%;
  margin-right: 0%
}

.slider-wrapper{
  display: inline-block;
  position: relative;
  width: auto;
  margin: 0 auto;
  height: auto;
  align-items: center;
  object-fit: cover;
  justify-content: center;
  background-position: center;

} 
.slider{
  display: flex;
  aspect-ratio: 9 / 16;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 2.5rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
  width: 305px;
  height: 450px;
  cursor: pointer;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-position: center;
 
  background-position: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  
}
.slider-nav{
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  justify-content: center;
  
}
.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #565656;
  opacity: 50%;
  transition: opacity ease 250ms;
}
.slider-nav a:hover{
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: black;
  opacity: 75%;
  transition: opacity ease 250ms;
}

.slider-nav a:active{
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: black;
  opacity: 75%;
  transition: opacity ease 250ms;
}
.slider-nav-branco{
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  justify-content: center;
  
}

.dots{
  width: 200px;
  display: inline-block;
  padding: 10px 0px;  
  margin: 10px 25px;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: absolute;
  top: 87%;
  left: 7%;
  
}
.dots2{
  width: 200px;
  display: inline-block;
  padding: 10px 0px;  
  margin: 10px 25px;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: absolute;
  top: 87%;
  left: 511px;
  
}
.dots3{
  width: 200px;
  display: inline-block;
  padding: 10px 0px;  
  margin: 10px 25px;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: absolute;
  top: 87%;
  left: 915px;
  
}
.dots4{
  width: 200px;
  display: inline-block;
  padding: 10px 0px;  
  margin: 10px 25px;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: absolute;
  top: 151%;
  left: 271px;
  
}
.dots5{
  width: 200px;
  display: inline-block;
  padding: 10px 0px;  
  margin: 10px 25px;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: absolute;
  top: 151%;
  left: 676px;
  
}

.slider-nav-branco a {
   width: 15px;
  height: 15px;
  border-radius: 50%;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  opacity: 100%;
  transition: opacity ease 250ms;
}
.slider-nav-preto{
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 60%;
  transform: translateX(-50%);
  z-index: 1;
  justify-content: center;
  
}
.slider-nav-preto a {
  
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  background-color: black;
  opacity: 100%;
  transition: opacity ease 250ms;
}

.slider-nav-azul{
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 70%;
  transform: translateX(-50%);
  z-index: 1;
  justify-content: center;
  
}
.slider-nav-azul a {
  
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  background-color: #96C5DD;
  opacity: 100%;
  transition: opacity ease 250ms;
}
.slider-nav-rosa{
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 80%;
  transform: translateX(-50%);
  z-index: 1;
  justify-content: center;
  
}
.slider-nav-rosa a {
  
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  background-color: #E3B5CE;
  opacity: 100%;
  transition: opacity ease 250ms;
}
.slider-nav-verde{
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 90%;
  transform: translateX(-50%);
  z-index: 1;
  justify-content: center;
  
}
.slider-nav-verde a {
  
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  background-color: #2A3B22;
  opacity: 100%;
  transition: opacity ease 250ms;
}
h11{
  font-family: 'Bodoni MT';
  font-size: 20pt;
  position: absolute;
  top: -20%;
  left: 80px;

}




/*marcadores de livros*/
h12{
  font-family: 'Bodoni MT';
  font-size: 21pt;
  position: absolute;
  left: 10%;
  top: 160%;
}

.container6{
 
  width: 100px;
  height: 250px;
  display: inline-block;
  border-radius: 10px;
  padding: 10px 0px;
  box-sizing: border-box;
  margin: 10px 25px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 125px;
  margin-left: 010%;
  margin-right: 0%;
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
.container6:hover{
    transform: translateY(-0.5%);
    box-shadow: 0 6rem 10rem rgba(0, 0, 0, 0.2);
}

.dots6{
  width: 200px;
  display: inline-block;
  padding: 10px 0px;  
  margin: 10px 25px;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: absolute;
  top: 104%;
  left: -85%;
  
}

.slider2{
  display: flex;
  aspect-ratio: 9 / 16;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 2.5rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
  width: 150px;
  height: 450px;
  cursor: pointer;
}
.slider2 img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-position: center;
 
  background-position: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  
}

.container7{
 
  width: 100px;
  height: 250px;
  display: inline-block;
  border-radius: 10px;
  padding: 10px 0px;
  box-sizing: border-box;
  margin: 10px 25px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 125px;
  margin-left: 010%;
  margin-right: 0%;
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
.container7:hover{
    transform: translateY(-0.5%);
    box-shadow: 0 6rem 10rem rgba(0, 0, 0, 0.2);
}

.dots7{
  width: 200px;
  display: inline-block;
  padding: 10px 0px;  
  margin: 10px 25px;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: absolute;
  top: 104%;
  left: -85%;
  
}
.container8{
 
  width: 100px;
  height: 250px;
  display: inline-block;
  border-radius: 10px;
  padding: 10px 0px;
  box-sizing: border-box;
  margin: 10px 25px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 125px;
  margin-left: 010%;
  margin-right: 0%;
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
.container8:hover{
    transform: translateY(-0.5%);
    box-shadow: 0 6rem 10rem rgba(0, 0, 0, 0.2);
}

.dots8{
  width: 200px;
  display: inline-block;
  padding: 10px 0px;  
  margin: 10px 25px;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: absolute;
  top: 104%;
  left: -85%;
  
}
.slider-nav-branco1{
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  justify-content: center;
  
}
.slider-nav-branco1 a {
  width: 15px;
 height: 15px;
 border-radius: 50%;
 border-color: black;
 border-style: solid;
 border-width: 1px;
 background-color: rgb(0, 0, 0);
 opacity: 100%;
 transition: opacity ease 250ms;
}
.slider-nav-preto1{
 display: flex;
 column-gap: 1rem;
 position: absolute;
 bottom: 1.25rem;
 left: 60%;
 transform: translateX(-50%);
 z-index: 1;
 justify-content: center;
 
}
.slider-nav-preto1 a {
 
 width: 15px;
 height: 15px;
 border-radius: 50%;
 border-color: black;
 border-style: solid;
 border-width: 1px;
 background-color: rgb(255, 255, 255);
 opacity: 100%;
 transition: opacity ease 250ms;
}
.container9{
 
  width: 100px;
  height: 250px;
  display: inline-block;
  border-radius: 10px;
  padding: 10px 0px;
  box-sizing: border-box;
  margin: 10px 25px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 125px;
  margin-left: 010%;
  margin-right: 0%;
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
.container9:hover{
    transform: translateY(-0.5%);
    box-shadow: 0 6rem 10rem rgba(0, 0, 0, 0.2);
}
.container10{
 
  width: 100px;
  height: 250px;
  display: inline-block;
  border-radius: 10px;
  padding: 10px 0px;
  box-sizing: border-box;
  margin: 10px 25px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 125px;
  margin-left: 010%;
  margin-right: 0%;
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
.container10:hover{
    transform: translateY(-0.5%);
    box-shadow: 0 6rem 10rem rgba(0, 0, 0, 0.2);
}
.footer2{
  background-color:#FAF3F0;
  color: black;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
 
  width: auto;
  clear: both;
    position: relative;
    height: 200px;
    margin-top: 200px;
 }

 /*Página personalizados*/
 
 .cardpersonalizados{
  width: 250px;
  height: 250px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 0px;
  box-sizing: border-box;
  margin: 10px 25px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  transition: 0.2s;
  margin-top: 10%;
  margin-left: 177px;
  
}
.cardpersonalizados:hover{
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}
.cardp1{
  background-image: url(totebags.png);

}

.cardp2{
  background-image: url(agendaspersonalizados.png);
}

.cardp3{
  background-image: url(quadrospersonalizados.png);
}
h13{
  font-family: 'Bodoni MT';
  font-size: 27pt;
  position: absolute;
  top: 75%;
  left: 33%;
}
h14{
  font-family: 'Bodoni MT';
  font-size: 27pt;
  position: absolute;
  top: 85%;
  left: 683px;
}
h15{
  font-family: 'Franklin Gothic Medium Cond', 'Arial Narrow', Arial, sans-serif;
  font-size: 20pt;
  color: black; 
  display: block;
  text-decoration: none;
  position: absolute;
  top: 685px;
  left: 700px;
}
h15:hover{
  color: #FFCACC;
}
.insta2{
  position: absolute;
  top: 90%;
  left: 42%;
}

.footer3{
  background-color:#FAF3F0;
  color: black;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
 
  width: auto;
  clear: both;
    position: relative;
    height: 200px;
    margin-top: 380px;
 }

/*Página de compra*/

 .container11{
 
  width: 350px;
  height: 500px;
  display: inline-block;
  border-radius: 10px;
  padding: 10px 0px;
  box-sizing: border-box;
  margin: 10px 25px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 30px;
  margin-left: 010%;
  margin-right: 0%; 
}
.slider3{
  display: flex;
  aspect-ratio: 9 / 16;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 2.5rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
  width: 350px;
  height: 500px;  
}
.dotscompra{
  width: 200px;
  display: inline-block;
  padding: 10px 0px;  
  margin: 10px 25px;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: absolute;
  top: 40%;
  left: 71%;
}
h16{
  font-family: 'Bodoni MT';
  font-size: 28pt;
  position: absolute;
  top: 20%;
  left: 34%;
}
.slider-nav2{
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  justify-content: center;
  
}
.slider-nav2 a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #565656;
  opacity: 50%;
  transition: opacity ease 250ms;
}
.slider-nav2 a:hover{
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: black;
  opacity: 75%;
  transition: opacity ease 250ms;
}

.slider-nav2 a:active{
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: black;
  opacity: 75%;
  transition: opacity ease 250ms;
}
h17{
  font-family: 'Bodoni MT';
  font-size: 20pt;
  position: absolute;
  top: 250%;
  left: 45%;

}
.button{
  width: 180px;
  color: #000;
  font-size: 20pt;
  padding: 12px 0;
  background: #FAF3F0;
  border: 0px;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
  position: absolute;
  top: 290%;
  left: 40%; 
  align-items: center;
  justify-content: center;
  text-align:left;
  cursor: pointer;
}

.imgcarrinho{
  position: absolute;
  left: 80%;
}

h18{
  font-family: 'Bodoni MT';
  font-size: 20pt;
  
  position: absolute;
  top: 31%;
  left: 104%;
}


.a3 {  
  position: absolute;
  top: 20%;
  left: 104%;
  color: black;
  cursor: text;
}
.a3:hover{
  color: black;
  cursor: text;
}

.texto {
  display: none;
}

/*compra de marcadores*/
.slider4{
  display: flex;
  aspect-ratio: 9 / 16;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 2.5rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
  width: 175px;
  height: 500px;  
 
}
h19{

    font-family: 'Bodoni MT';
    font-size: 28pt;
    position: absolute;
    top: 20%;
    left: 24%;
  
}
h20{
  font-family: 'Bodoni MT';
  font-size: 20pt;
  
  position: absolute;
  top: 31%;
  left: 116%;
}
.dotscompra2{
  width: 200px;
  display: inline-block;
  padding: 10px 0px;  
  margin: 10px 25px;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: absolute;
  top: 40%;
  left: 48%;
}
h21{
  font-family: 'Bodoni MT';
  font-size: 20pt;
  position: absolute;
  top: 53%;
  left: 116%;
}
.button2{
  width: 180px;
  color: #000;
  font-size: 20pt;
  padding: 12px 0;
  background: #FAF3F0;
  border: 0px;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
  position: absolute;
  top: 20%;
  left: -10%; 
  align-items: center;
  justify-content: center;
  text-align:left;
  cursor: pointer;
}


h22{
  font-family: 'Bodoni MT';
  font-size: 25pt;
  position: absolute;
  top: 83%;
  left: 12%;
}

/*artigos semelhantes*/
.cardsemelhantes{
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 10px 0px;
  box-sizing: border-box;
  margin: 10px 25px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  transition: 0.2s;
  cursor: pointer;
  position: absolute;
  top: 93%;
  left: 12%;
}
.cardsemelhantes:hover{
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}
.cardsem-1{ /*marcador de livro 1*/
  background-image: url(artigos-semelhantes/marcador1-preto.png) ;
  height: 500px;
  
}
.cardsem-5{ 
  background-image: url(artigos-semelhantes/marcador2-preto.png) ;
  height: 500px;
  
}
.cardsem-2{ /*t-shirt 2*/
  background-image: url(artigos-semelhantes/tshirt4-rosa-frente.png);
  position: absolute;
  top: 93%;
  left: 30%;
  height: 300px;
  width: 250px;
}

.cardsem-3{ /*marcador de livro 3*/
  background-image: url(artigos-semelhantes/marcador2-branco.png) ;
  height: 500px;
  position: absolute;
  top: 93%;
  left: 52%;
}
.cardsem-4{ /*t-shirt 4*/
  background-image: url(artigos-semelhantes/tshirt5-frente-preto.png);
  position: absolute;
  top: 93%;
  left: 70%;
  height: 300px;
  width: 250px;
}
.footer4{
  background-color:#FAF3F0;
  color: black;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
 
  width: auto;
  clear: both;
    position: relative;
    height: 200px;
    margin-top: 750px;
 }
.cardsem-6{ 
  background-image: url(artigos-semelhantes/tshirt3-azul-frente.png);
  position: absolute;
  top: 93%;
  left: 30%;
  height: 300px;
  width: 250px;
}

.cardsem-7{ 
  background-image: url(artigos-semelhantes/marcador4-branco.png) ;
  height: 500px;
  position: absolute;
  top: 93%;
  left: 52%;
}
.cardsem-8{
  background-image: url(artigos-semelhantes/tshirt1-verde-frente.png);
  position: absolute;
  top: 93%;
  left: 70%;
  height: 300px;
  width: 250px;
}
.cardsem-9{ 
  background-image: url(artigos-semelhantes/marcador3-branco.png) ;
  height: 500px;
  
}
.cardsem-10{ 
  background-image: url(artigos-semelhantes/tshirt4-azul-frente.png);
  position: absolute;
  top: 93%;
  left: 30%;
  height: 300px;
  width: 250px;
}
.cardsem-11{ 
  background-image: url(artigos-semelhantes/marcador5-preto.png) ;
  height: 500px;
  position: absolute;
  top: 93%;
  left: 52%;
}
.cardsem-12{
  background-image: url(artigos-semelhantes/tshirt2-frente-preto.png);
  position: absolute;
  top: 93%;
  left: 70%;
  height: 300px;
  width: 250px;
}
.cardsem-13{ 
  background-image: url(artigos-semelhantes/marcador4-preto.png) ;
  height: 500px;
} 
.cardsem-14{ 
  background-image: url(artigos-semelhantes/tshirt1-frente-azul.png);
  position: absolute;
  top: 93%;
  left: 30%;
  height: 300px;
  width: 250px;
}
.cardsem-15{ 
  background-image: url(artigos-semelhantes/marcador3-preto.png) ;
  height: 500px;
  position: absolute;
  top: 93%;
  left: 52%;
}
.cardsem-16{
  background-image: url(artigos-semelhantes/tshirt5-rosa-frente.png);
  position: absolute;
  top: 93%;
  left: 70%;
  height: 300px;
  width: 250px;
}
.cardsem-17{ 
  background-image: url(artigos-semelhantes/marcador5-branco.png) ;
  height: 500px;
} 
.cardsem-18{ 
  background-image: url(artigos-semelhantes/tshirt2-verde-frente.png);
  position: absolute;
  top: 93%;
  left: 30%;
  height: 300px;
  width: 250px;
}
.cardsem-19{ 
  background-image: url(artigos-semelhantes/marcador1-branco.png) ;
  height: 500px;
  position: absolute;
  top: 93%;
  left: 52%;
}
.cardsem-20{
  background-image: url(artigos-semelhantes/tshirt3-rosa-frente.png);
  position: absolute;
  top: 93%;
  left: 70%;
  height: 300px;
  width: 250px;
}
.cardsem-21{ 
  background-image: url(artigos-semelhantes/marcador3-branco.png) ;
  height: 500px;
} 

.cardsem-22{ 
  background-image: url(artigos-semelhantes/tshirt1-frente-preto.png);
  position: absolute;
  top: 93%;
  left: 30%;
  height: 300px;
  width: 250px;
}
.cardsem-23{ 
  background-image: url(artigos-semelhantes/marcador5-branco.png) ;
  height: 500px;
  position: absolute;
  top: 93%;
  left: 52%;
}
.cardsem-24{
  background-image: url(artigos-semelhantes/tshirt2-azul-frente.png);
  position: absolute;
  top: 93%;
  left: 70%;
  height: 300px;
  width: 250px;
}
.cardsem-25{ 
  background-image: url(artigos-semelhantes/marcador4-preto.png) ;
  height: 500px;
} 
.cardsem-26{ 
  background-image: url(artigos-semelhantes/tshirt2-frente-branco.png);
  position: absolute;
  top: 93%;
  left: 30%;
  height: 300px;
  width: 250px;
}
.cardsem-27{ 
  background-image: url(artigos-semelhantes/marcador1-branco.png) ;
  height: 500px;
  position: absolute;
  top: 93%;
  left: 52%;
}
.cardsem-28{
  background-image: url(artigos-semelhantes/tshirt4-verde-frente.png);
  position: absolute;
  top: 93%;
  left: 70%;
  height: 300px;
  width: 250px;
}
.cardsem-29{ 
  background-image: url(artigos-semelhantes/marcador2-branco.png) ;
  height: 500px;
} 
.cardsem-30{ 
  background-image: url(artigos-semelhantes/tshirt3-frente-preto.png);
  position: absolute;
  top: 93%;
  left: 30%;
  height: 300px;
  width: 250px;
}
.cardsem-31{ 
  background-image: url(artigos-semelhantes/marcador4-branco.png) ;
  height: 500px;
  position: absolute;
  top: 93%;
  left: 52%;
}
.cardsem-32{
  background-image: url(artigos-semelhantes/tshirt1-frente-rosa.png);
  position: absolute;
  top: 93%;
  left: 70%;
  height: 300px;
  width: 250px;
}
.cardsem-33{ 
  background-image: url(artigos-semelhantes/marcador1-preto.png) ;
  height: 500px;
} 
.cardsem-34{ 
  background-image: url(artigos-semelhantes/tshirt4-frente-preto.png);
  position: absolute;
  top: 93%;
  left: 30%;
  height: 300px;
  width: 250px;
}
.cardsem-35{ 
  background-image: url(artigos-semelhantes/marcador3-preto.png) ;
  height: 500px;
  position: absolute;
  top: 93%;
  left: 52%;
}
.cardsem-36{
  background-image: url(artigos-semelhantes/tshirt2-rosa-frente.png);
  position: absolute;
  top: 93%;
  left: 70%;
  height: 300px;
  width: 250px;
}
.cardsem-37{ 
  background-image: url(artigos-semelhantes/marcador4-preto.png) ;
  height: 500px;
} 
.cardsem-38{ 
  background-image: url(artigos-semelhantes/tshirt5-azul-frente.png);
  position: absolute;
  top: 93%;
  left: 30%;
  height: 300px;
  width: 250px;
}
.cardsem-39{ 
  background-image: url(artigos-semelhantes/marcador1-branco.png) ;
  height: 500px;
  position: absolute;
  top: 93%;
  left: 52%;
}
.cardsem-40{
  background-image: url(artigos-semelhantes/tshirt3-verde-frente.png);
  position: absolute;
  top: 93%;
  left: 70%;
  height: 300px;
  width: 250px;
}

.mainscreen
{
	min-height: 100vh;
	width: 100%;
	display: flex;
    flex-direction: column;
    color:#963E7B;
}

h23{
  font-size: 25pt;
}

.comprafinalizada {
	width: 30rem;
  height: 15rem;
    margin: auto;
    background: white;
    position:center;
    align-self: center;
    top: 10rem;
    border-radius: 1.5rem;
    box-shadow: 4px 3px 20px #3535358c;
    display:flex;
    flex-direction: row;
    margin-top: 50%;
    display: grid;
}

.wrapper {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animated-check {
  height: 50%;
  width: 60%;
}

.animated-check path {
  fill: none;
  stroke: #7ac142;
  stroke-width: 4;
  stroke-dasharray: 23;
  stroke-dashoffset: 23;
  animation: draw 1s linear forwards;
  stroke-linecap: round;
  stroke-linejoin: round
}

@keyframes draw {
  to {
      stroke-dashoffset: 0
  }
}
.mainscreen2
{
	height: 50%;
	width: 10%;
	display: flex;
    flex-direction: column;
    color:#963E7B;
  margin-left: 34%;
  margin-right: 25%;
  justify-content: center;
  text-align: center;
  align-items: center;
  
}

h24{
  display:block;
  font-size: 25pt;
  font-weight: 400;
  margin: .8rem 0;
}
h25{
  display: block;
  font-size: 20pt;
  font-weight: 400;
  margin: .8rem 0;
}
h26{
  display: block;
  font-size: 15pt;
  font-weight: 400;
  margin: .8rem 0;
  position: absolute;
  top: 41%;
  left: 39%;
}
h27{
  font-family: 'Bodoni MT';
  font-size: 21pt;
  position: absolute;
  left: 10%;
  top: 510%;
}
.cardq1-19{
  background-image: url(quadros-2019/quadro1-2019.png);
}
.cardq2-19{
  background-image: url(quadros-2019/quadro2-2019.png);
}
.cardq3-19{
  background-image: url(quadros-2019/quadro3-2019.png);
}
.cardq4-19{
  background-image: url(quadros-2019/quadro4-2019.png);
  border-radius: 50%;
}
.cardq5-19{
  background-image: url(quadros-2019/quadro5-2019.png);
}
.cardq6-19{
  background-image: url(quadros-2019/quadro6-2019.png);
  height: 300px;
}
.cardq7-19{
  background-image: url(quadros-2019/quadro7-2019.png);
}
.cardq8-19{
  background-image: url(quadros-2019/quadro8-2019.png);
  width:300px ;
}
.cardq9-19{
  background-image: url(quadros-2019/quadro9-2019.png);
}
.cardq10-19{
  background-image: url(quadros-2019/tubarao1.png);
  position: absolute;
  top: 599% ;
}
.cardlongo2{
  margin-top: 45px;
  margin-left: 5%;
  margin-right: 13%; 
}
.cardq11-19{
  background-image: url(quadros-2019/tubarao2.png);
  position: absolute;
  left: 67%;
  top: 615%;
}
.cardq12-19{
  background-image: url(quadros-2019/quadro10-2019.png);
}
.cardq13-19{
  background-image: url(quadros-2019/quadro11-2019.png);
}
.cardq14-19{
  background-image: url(quadros-2019/quadro12-2019.png);
}
.cardq15-19{
  background-image: url(quadros-2019/quadro13-2019.png);
}
.cardq16-19{
  background-image: url(quadros-2019/quadro14-2019.png);
}
.cardq17-19{
  background-image: url(quadros-2019/quadro15-2019.png);
  width: 300px;
}
h28{
  font-family: 'Bodoni MT';
  font-size: 21pt;
  position: absolute;
  left: 10%;
  top: 730%;
}
.cardq1-18{
  background-image: url(quadros-2018/quadro1-2018.png);
}
.cardq2-18{
  background-image: url(quadros-2018/quadro2-2018.png);
}
.cardq3-18{
  background-image: url(quadros-2018/quadro3-2018.png);
}
.cardq4-18{
  background-image: url(quadros-2018/quadro4-2018.png);
}
.cardq5-18{
  background-image: url(quadros-2018/quadro5-2018.png);
}
.cardq6-18{
  background-image: url(quadros-2018/quadro6-2018.png);
}
.cardq7-18{
  background-image: url(quadros-2018/quadro7-2018.png);
}
.cardq8-18{
  background-image: url(quadros-2018/quadro8-2018.png);
}
.cardq9-18{
  background-image: url(quadros-2018/quadro9-2018.png);
}
.soum{
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-left: 38%;
  margin-right: 0%;
}

.cardlongo3{
  margin-top: 45px;
  margin-left: -5%;
  margin-right: 13%; 
}
.footer5{
  background-color:#FAF3F0;
  color: black;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
 
  width: auto;
  clear: both;
    position: relative;
    height: 200px;
    margin-top: 200px;
 }

 .contactos{
  position: absolute;
  justify-content: center;
  text-align: center;
  display: grid;
  align-items: center;
  align-self: center;
  margin-top: 5%;
  margin-left: 33%;
 }
 h29{
  font-family: 'Bodoni MT';
  font-size: 25pt;
 }
 .footer6{
  background-color:#FAF3F0;
  color: black;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
 
  width: auto;
  clear: both;
    position: relative;
    height: 200px;
    margin-top: 437px;
 }

 .comprar{
  font-family: 'Bodoni MT';
  text-align: center;
  align-self: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  position: absolute;
  left: 33%;
  top: 15%;
  align-items: center;
  font-size: 18pt;
 }

 h30{
  font-size: 22pt;
  
 }
 h31{
  font-size: 22pt;
  
 }
 h32{
  font-size: 18pt;
 }
 .comprarr{
  width: 250px;
  color: #000;
  font-size: 20pt;
  padding: 12px 0;
  background: #DBC4F0;
  border: 0px;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
  position: absolute;
  top: 50%;
  left: 41%; 
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
 }

 .comprarr a{
  color: #000;
 }
 .comprarr a:hover{
  color: #FAF3F0;
 }

 .footer7{
  background-color:#FAF3F0;
  color: black;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
 
  width: auto;
  clear: both;
    position: relative;
    height: 200px;
    margin-top: 500px;
 }
 
 .produto{
  position: absolute;
  top: 15%;
  left: 10%;
 }
 h37{
  font-family: 'Bodoni MT';
  font-size: 20pt;
  position: absolute;
  top: 63%;
  left: 12%;
 }
 h38{
  font-family: 'Bodoni MT';
  font-size: 20pt;
  position: absolute;
  top: 63%;
  left: 11%;
 }
 h39{
  font-family: 'Bodoni MT';
  font-size: 20pt;
  position: absolute;
  top: 63%;
  left: 5%;
 }
 h40{
  font-family: 'Bodoni MT';
  font-size: 20pt;
  position: absolute;
  top: 63%;
  left: 13%;
 }
 .produto2{
  position: absolute;
  top: 12%;
  left: 15%;
 }